services:
  postgres:
    image: postgres:16-alpine
    container_name: evolution_postgres
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-db_admin_xk72r}
      - POSTGRES_PASSWORD=${SERVICE_PASSWORD_POSTGRES:-service_password}
      - POSTGRES_DB=${POSTGRES_DB:-evolution_database}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - type: bind
        source: ./init-db.sql
        target: /docker-entrypoint-initdb.d/init-db.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-db_admin_xk72r} -d ${POSTGRES_DB:-evolution_database}"]
      interval: 10s
      timeout: 5s
      retries: 3
      
  evolution-api:
    container_name: evolution_api
    image: atendai/evolution-api:v2.2.0
    restart: always
    ports:
      - "2559:8080"
    environment:
      # Autenticación API
      - AUTHENTICATION_API_KEY=${AUTHENTICATION_API_KEY:-c4b46XpQs2Lw7tF9hM5jN8aD3}

      # Custom ENV's
      - CONFIG_SESSION_PHONE_VERSION=${CONFIG_SESSION_PHONE_VERSION:-2.3000.1031543708}
      - CONFIG_SESSION_PHONE_CLIENT=${CONFIG_SESSION_PHONE_CLIENT:-carrilloapps}
      - CONFIG_SESSION_PHONE_NAME=${CONFIG_SESSION_PHONE_NAME:-Chrome}
      
      # Configuración de base de datos
      - DATABASE_ENABLED=${DATABASE_ENABLED:-true}
      - DATABASE_PROVIDER=${DATABASE_PROVIDER:-postgresql}
      - DATABASE_CONNECTION_URI=postgresql://${POSTGRES_USER:-db_admin_xk72r}:${SERVICE_PASSWORD_POSTGRES:-service_password}@postgres:5432/${POSTGRES_DB:-evolution_database}
      - DATABASE_CONNECTION_CLIENT_NAME=${DATABASE_CONNECTION_CLIENT_NAME:-evolution_exchange}
      
      # Persistencia de datos
      - DATABASE_SAVE_DATA_INSTANCE=${DATABASE_SAVE_DATA_INSTANCE:-true}
      - DATABASE_SAVE_DATA_NEW_MESSAGE=${DATABASE_SAVE_DATA_NEW_MESSAGE:-true}
      - DATABASE_SAVE_MESSAGE_UPDATE=${DATABASE_SAVE_MESSAGE_UPDATE:-true}
      - DATABASE_SAVE_DATA_CONTACTS=${DATABASE_SAVE_DATA_CONTACTS:-true}
      - DATABASE_SAVE_DATA_CHATS=${DATABASE_SAVE_DATA_CHATS:-true}
      - DATABASE_SAVE_DATA_LABELS=${DATABASE_SAVE_DATA_LABELS:-true}
      - DATABASE_SAVE_DATA_HISTORIC=${DATABASE_SAVE_DATA_HISTORIC:-true}
      
      # Configuración de Cache
      - CACHE_LOCAL_ENABLED=${CACHE_LOCAL_ENABLED:-true}

    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - evolution_instances:/evolution/instances
    labels:
      - coolify.managed=true

volumes:
  postgres_data:
  evolution_instances:
